@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.2s linear all;
  font-family: "Calibri Light";
}

@font-face {
  font-family: "Calibri Light";
  font-style: normal;
  font-weight: normal;
  src: local("Calibri Light"), url("/fonts/calibril.woff") format("woff");
}
